services:

  cluster-art:
    image: ghcr.io/krokicki/cluster-art:0.1.0
    container_name: myservice
    restart: unless-stopped
    ports:
      - "${SERVICE_PORT:-8000}:8000"
    volumes:
      - ${CACHE_FOLDER}:/app/cache:ro
    environment:
      - CLUSTER_DISABLE_FETCH=true
      - CLUSTER_CACHE_FOLDER=/app/cache
    env_file:
      - path: .env
        required: true

  nginx:
    image: nginx
    depends_on:
      - cluster-art
    ports:
      - "${NGINX_PORT:-9443}:443"
    restart: unless-stopped
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ${CERT_FILE}:/certs/default.crt:ro
      - ${KEY_FILE}:/certs/default.key:ro

