services:
  cluster-art:
    image: ghcr.io/krokicki/cluster-art:0.1.0
    container_name: cluster-art
    restart: unless-stopped
    ports:
      - "${PORT:-8080}:8080"
    volumes:
      - ${CACHE_FOLDER}:/app/cache:ro
    environment:
      - CLUSTER_DISABLE_FETCH=true
      - CLUSTER_CACHE_FOLDER=/app/cache
    env_file:
      - path: .env
        required: false
